<div class="loginContainer">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <div class="marto15 marbo15 avatarFrameOffline">
                    <img class="avatarImage img-fluid" src="assets/img/generic_avatar.png" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="center">
                    <h3>Iniciar Sesión</h3>
                </div>
                <p *ngIf="operation == 'register'">Ya tienes cuenta? Has <a (click)="operation = 'login'" >Login</a> </p>
                <p *ngIf="operation == 'login'">No tienes cuenta? <a (click)="operation = 'register'" >Registrate</a> </p>
                <div class="borderedContainer">
                    <input type="email" class="marbo15 form-control" placeholder="Ingrese email" />
                    <input type="password" class="marbo15 form-control" placeholder="Ingrese password" />
                    <input *ngIf="operation == 'register'" type="text" class="marbo15 form-control" placeholder=" Nick">
                    
                </div>
                <div class="center marto15">
                    <button *ngIf="operation == 'login'" class="btn btn-outline-primary">
                        Iniciar Sesión
                    </button>
                    <button *ngIf="operation == 'register'" class="btn btn-outline-danger">
                        Registrarme
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>