<div id="menuContainer">
  <div routerLink="/home" class="branding item">
    <img id="main-logo" src="assets/img/logo_live.png" alt="LOGO">
    platzinger
  </div>
  <div class="item branding" routerLink="/profile">
    Perfil
  </div>

</div>