<div id="profileContainer">
    <div class="container pato45">
        <div class="row">
            <div class="col-md-3">
                <div class="avatarFrameOnline">
                    <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="profile">
                </div>
                <hr />
                <div>
                    <span>Cambiar Foto</span><br>
                    <label class="custom-file-upload">
                        <input type="file">subir avatar
                    </label>

                </div>

            </div>
            <div class="col-md-9">
                <div>
                    <label fixed>Nick</label>
                <input type="text" class="form-control"/>
                </div>
                <div>
                    <label fixed>Nick</label>
                <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</div>