#main-logo{
    width: 40px;
}

#img-status{
    width: 20px;
}

.center{
    text-align: center !important;
}

.marto15{
    margin-top:15px;
}

.marbo15{
    margin-bottom: 15px;
}

.generalContent{
    margin-top: 56px;
}

.pato45{
    padding-top: 45px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload{
    background: #f560;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color:white;
    border: 1px solid black;
}