
<div class="container">
        <div class="row" style="infoAvatar">
            <div class="col-md-6" class="bordered">
                <img src="assets/img/logo_live_online.png" id="avatar" alt=""> 
            </div>
            <div class="col-md-6">
                <p>Nombre</p> <b>John Nelson Flórez</b>
                <span>Online</span>
                <br>
                <span>< Escribe un mensaje ></span>
            </div>
        </div>
</div>
<b>Amigos</b><br><br>
<input type="text" class="form-control" placeholder="Buscar amigos" [(ngModel)]="query">
<ng-container *ngFor="let user of friends | search: query; let i = index">
<a routerLink="/conversation/{{user.uid}}">
    <img src="assets/img/logo_live_{{user.status}}.png" id="img-status" alt=""> {{i}} - {{user.nick}} - {{user.email}}
</a>
<br>
</ng-container>


